# Secret will be used to sign session cookies, CSRF tokens and for other encryption utilities.
# It is highly recommended to change this value before running cerebro in production.
secret = "{{ cerebro_play_secret }}"

# Application base path
basePath = "{{ cerebro_base_path | default("/")}}"

# Defaults to RUNNING_PID at the root directory of the app.
# To avoid creating a PID file set this value to /dev/null
pidfile.path=/dev/null

# Rest request history max size per user
rest.history.size = {{ cerebro_rest_history }} // defaults to 50 if not specified

# Path of local database file
data.path = "{{ cerebro_local_data_path }}"

{% if cerebro_auth_ldap is defined %}
# Authentication
auth = {
  type: ldap
  settings {
    url = "{{ cerebro_auth_ldap.url }}"
    base-dn = "{{ cerebro_auth_ldap.base_dn }}"
    method = {{ cerebro_auth_ldap.method | default("simple") }}
    user-template = "{{ cerebro_auth_ldap.user_template | default("%s") }}"
    bind-dn = "{{ cerebro_auth_ldap.bind_dn }}"
    bind-pw = "{{ cerebro_auth_ldap.bind_pw }}"
    group-search {
      base-dn = "{{ cerebro_auth_ldap.group_search.base_dn | default(cerebro_auth_ldap.base_dn) }}"
      user-attr = "{{ cerebro_auth_ldap.group_search.user_attr | default("uid") }}"
      {%+ if cerebro_auth_ldap.group_search.user_attr_template is defined %}user-attr-template = "{{ cerebro_auth_ldap.group_search.user_attr_template }}"{% endif %}
      {%+ if cerebro_auth_ldap.group_search.group is defined %}group = "{{ cerebro_auth_ldap.group_search.group }}"{% endif %}
    }
  }
}
{% elif cerebro_auth_basic is defined %}
# Authentication
auth = {
  type: basic
  settings: {
    username = "{{ cerebro_auth_basic.username | default("admin") }}"
    password = "{{ cerebro_auth_basic.password | default("Bacon123") }}"
  }
}
{% endif %}

{% if cerebro_es_hosts is defined %}
# A list of known hosts
hosts = [
{% for cerebro_es_host in cerebro_es_hosts %}
  {
    host = "{{ cerebro_es_host.host }}"
    name = "{{ cerebro_es_host.name }}"
{% if cerebro_es_host.es_auth is defined %}
    auth = {
      username = "{{ cerebro_es_host.es_auth.username }}"
      password = "{{ cerebro_es_host.es_auth.password }}"
    }
{% endif %}
  }{{ ',' if not loop.last else '' }}
{% endfor %}
]
{% endif %}
